{% extends 'adminbase.html' %}

{% block title%}Admin Dashboard{% endblock title%}
{% block body %}

<div class="container-fluid  bg-light p-5 mt-3">
    <div class="row">
        <div class="col-lg-8">
            <h3>Manage Users</h3>
            <hr>
        </div>
    </div>
    <style>
        .table-hover:hover{
            cursor: pointer;
        }
    </style>

    <table class="table table-hover table-sm table-responsive-sm">
        <thead>
            <tr class="text-primary">
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">User Name</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            {% for userlist in userlist%}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{userlist.firstname}}</td>
                <td>{{userlist.lastname}}</td>
                <td>{{userlist.username}}</td>
                <td>{{userlist.email}}</td>
                <td><a href="{{userlist.id}}"><i class="fas fa-user-edit"></i></a>
                    <a href="{% url 'deleteuser' userlist.id %}"><i class="fas fa-trash-alt pl-2" onclick="confirmdel();"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<script>
    function confirmdel(){
        alert('Are you sure you want to delete this user?')
    }
</script>
</div>

{% endblock body %}