{% extends 'userbase.html' %}
{% block title %}View Tests{% endblock title %}

{% block body %}
<div class="container-fluid  bg-light p-5 mt-3">
  <div class="row">
    <div class="col-lg-12">
      <h4>Test Details</h4>
      <hr>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">S.NO</th>
            <th scope="col">TEST TITLE</th>
            <th scope="col">PRICE</th>
            <th scope="col">DETAILS</th>
          </tr>
        </thead>
        <tbody>
        <tbody>
          {% for testitem in testitems %}
          <tr>
            <th scope="row">{{ testitem.id }}</th>
            <td>{{ testitem.test_title }}</td>
            <td>{{ testitem.price }}</td>
            <td><a href="test-info/{{testitem.id}}"><i class="fas fa-info-circle"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock body %}